<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>

</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Change location</h1>
    <form th:action="@{/change-apartment-location}" th:object="${changeLocationForm}" method="post">
        <div class="row">
            <div class="col-12 form-group">
                <label for="location">Location</label>
                <input class="form-control" placeholder="Location" type="text"
                       th:value="${changeLocationForm.location}" name="location" id="location" required readonly/>
                <p class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('location')}"
                   th:errors="*{location}"></p>
                <input th:value="${changeLocationForm.latitude}" type="hidden" name="latitude" id="latitude">
                <input th:value="${changeLocationForm.longitude}" type="hidden" name="longitude" id="longitude">
                <input type="hidden" name="apartmentId" th:value="${changeLocationForm.apartmentId}">
            </div>
            <div class="col-12">
                <div id="map" style="max-height: 500px; height: 500px;">

                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <button class="btn btn-primary" type="submit">Change</button>
        </div>
    </form>
    <script src="https://maps.googleapis.com/maps/api/js?&libraries=geometry,places&ext=.js&language=en&key=AIzaSyARUEraKEzNg1LcmLzZ6-BanqkeVLAEbLM"></script>
    <script>
        $(document).ready(function(){
                var latitude = document.getElementById('latitude').value;
                var longitude = document.getElementById('longitude').value;
                var marker;

                var myLatlng = new google.maps.LatLng(latitude, longitude);
                var myOptions = {
                    zoom: 13,
                    center: myLatlng
                }

                var map = new google.maps.Map(document.getElementById("map"), myOptions);
                var geocoder = new google.maps.Geocoder();

            var myLatlng = new google.maps.LatLng(parseFloat(latitude),parseFloat(longitude));

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
            });

                google.maps.event.addListener(map, 'click', function (event) {
                    geocoder.geocode({
                        'latLng': event.latLng
                    }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[0]) {
                                document.getElementById("location").value = results[0].formatted_address;
                                document.getElementById("latitude").value =  results[0].geometry.location.lat();
                                document.getElementById("longitude").value =  results[0].geometry.location.lng();

                                if(marker) {
                                    marker.setPosition(event.latLng);
                                } else {
                                    marker = new google.maps.Marker({
                                        position: event.latLng,
                                        map: map
                                    });
                                }
                            }
                        }
                    });
                });
        })
    </script>
</div>
</body>
</html>