<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${apartment.getTitle()}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/hotel-datepicker.css}">

    <style>
        .overflow-ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .break-long-word{
            word-wrap:break-word;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <th:block th:if="${apartment.getImages().size() > 1}"
                          th:each="apartmentImage, index : ${apartment.getImages()}">
                    <li th:classappend="${index.index == 0 ? 'active' : ''}" data-target="#carouselExampleIndicators"
                        th:attr="data-slide-to=${index.index}"></li>
                </th:block>
            </ol>

            <div class="carousel-inner">
                <div th:each="apartmentImage, index : ${apartment.getImages()}"
                     th:classappend="${index.index == 0 ? 'active' : ''}" class="carousel-item">
                    <img class="d-block w-100"
                         th:src="${apartmentImage.getLinkPhoto()}">
                </div>
            </div>
            <th:block th:if="${apartment.getImages().size() > 1}">
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </th:block>
        </div>
    </div>
    <div class="row mt-4" style="min-height: 500px; !important;">
        <div class="col-7">
            <div class="float-right" style="margin-left: 10px;">
                <a th:href="@{/user-profile/} + ${userId}"><img style="width: 100px;height: 100px;" th:src="${apartment.getUser().getAvatarUrl() == null} ? ${defaultAvatar} : ${apartment.getUser().getAvatarUrl()}"></a>
                <p th:text="${apartment.getUser().getSurName() + ' ' + apartment.getUser().getName()}"></p>
            </div>
                <h4 th:text="${apartment.getAvailableToGuest().getName()}"></h4>
                <p class="break-long-word" th:text="${apartment.getTitle()}"></p>
                <h5 th:text="'Max number of guests ' + ${apartment.getMaxNumberOfGuests()}"></h5>
                <p class="break-long-word" th:text="${apartment.getDescription()}"></p>
                <p th:text="'Number of rooms' + ': '  + ${apartment.numberOfRooms}"></p>
            <div class="row justify-content-center" th:if="${!apartment.getApartmentComforts().isEmpty()}">
                <div class="col-4">
                    <h6 class="text-center">Comforts</h6>
                    <ul class="list-group list-group-flush" th:each="comfort : ${apartment.getApartmentComforts()}">
                        <li class="list-group-item" th:text="${comfort.getName()}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-5">
            <h6 th:text="${#numbers.formatInteger(apartment.getPrice(), 0) + ' per day'}"></h6>
            <div class="">
                <input id="setDate" class="form-control" type="text" value="Set date" readonly />
                <input id="csrf"
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}" />
                <input class="form-control mt-2" id="guests" value="1" th:max="${apartment.getMaxNumberOfGuests()}"
                       min="1"
                       type="number"/>
                <input type="hidden" id="maxNumberOfGuests" th:value="${apartment.getMaxNumberOfGuests()}">
                <p id="showErrorMsg" class="alert alert-danger mt-2" style="display: none" role="alert">Test</p>
                <button class="mt-2" id="reservation">Reservation</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/fecha.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/hotel-datepicker.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function(){
            var dates = /*[[${disabledDates}]]*/ "default";
            var apartmentId = /*[[${apartmentId}]]*/ "default";
            var userOnPage = /*[[${userOnPage}]]*/ "default";
            var availableToGuest = /*[[${availableToGuest}]]*/ "default";
            var guestsInput = document.getElementById('guests');
            var maxNumberOfGuests = document.getElementById('maxNumberOfGuests');
            var price = /*[[${price}]]*/ "default";
            var approve = false;

            var showMsg = document.getElementById("showErrorMsg");

            var input = document.getElementById('setDate');
            var datepicker = new HotelDatepicker(input, {
                disabledDates: dates,
            });

            $('.carousel').carousel({
                interval: false
            })

            var reservationBtn = document.getElementById("reservation");

            reservationBtn.addEventListener('click', function () {
                if(userOnPage == 'guest') {
                    console.log('guest');
                    showMsg.innerText = 'Need login for reservation';
                    showMsg.style = 'display: block';
                    return;
                }

                var date = input.value;

                $.ajax({
                    url : '/apartment-booking',
                    headers: {"X-CSRF-TOKEN": $("input[name='_csrf']").val()},
                    data: {bookingDates : date,
                        apartmentId : apartmentId,
                        availableToGuest: availableToGuest,
                        guestsCount: guestsInput.value,
                        maxNumberOfGuests: maxNumberOfGuests.value,
                        price: price,
                        approve: approve
                    },
                    type : 'POST',
                    success : function(result) {
                        showMsg.innerText = result.message;
                        console.log(result.message);
                        if(result.message == 'Reservation is successful') {
                            showMsg.classList.remove('alert-danger');
                            showMsg.classList.add('alert-success');

                            datepicker.destroy();
                            datepicker = new HotelDatepicker(input, {
                                disabledDates: result.reservedDates,
                            });
                        } else if(result.message.includes('For your number of guests you will need')){
                            approve = true;
                            showMsg.classList.remove('alert-danger');
                            showMsg.classList.add('alert-success');
                        } else {
                            showMsg.classList.remove('alert-success');
                            showMsg.classList.add('alert-danger');
                        }

                        showMsg.style = 'display: block';
                    }
                })
            });
        })
    </script>
</div>
</body>
</html>