<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div th:replace="fragments/sideBar :: sidebar"></div>
        </div>
        <div class="col-8">
            <div layout:fragment="content"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>