<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!-- <head th:replace="fragments/header :: header"> -->
<head>
    <title>Rent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
</head>
<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <div class="container mt-3">
        <div layout:fragment="content"></div>
    </div>
    </div>
</body>
</html>