<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/adminLayout">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<div layout:fragment="content">
    <p><a th:href="@{/admin/apartment-comfort/create}">Create new</a></p>
    <table th:if="${apartmentComforts.size() != 0}" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="apartmentComfort : ${apartmentComforts}">
            <td th:text="${apartmentComfort.name}"></td>
            <td><a th:href="@{/admin/apartment-comfort/update/} + ${apartmentComfort.id}">Edit</a></td>
            <td><a th:href="@{/admin/apartment-comfort/delete/} + ${apartmentComfort.id}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>