<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
    <div class="container">
        <a class="navbar-brand" href="/">Rent</a>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <li>
                    <form class="form-inline my-2 my-lg-0" method="get" action="/">
                        <input class="form-control mr-sm-2" th:value="${location}" name="location" type="search" placeholder="Try London" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div sec:authorize="isAuthenticated()">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a sec:authorize="hasAuthority('ADMIN')" th:if="${!#httpServletRequest.requestURI.contains('admin')}" th:href="@{/admin}">Admin panel</a>
                <a th:href="@{/apartment-create-step-one}"> Add apartment </a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a sec:authentication="name" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:href="@{/my-advertisements}" class="dropdown-item" sec:authorize="hasAuthority('LANDLORD')">My advertisements</a>
                            <a th:href="@{/owner-rent-history}" class="dropdown-item" sec:authorize="hasAuthority('LANDLORD')">Owner rent history</a>
                            <a th:href="@{/client-booking-history}" class="dropdown-item">Client booking history</a>
                            <a class="dropdown-item" th:href="@{/change-profile}">Change profile</a>
                            <form class="form-inline" th:action="@{/logout}" method="post">
                                <input class="dropdown-item" type="submit" value="Sign out"/>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/register}">Register</a>
        </div>
    </div>
</nav>
</body>
</html>