<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="sidebar">
    <ul class="list-group list-unstyled">
        <li><a href="#" class="list-group-item list-group-item-action">Apartment comfort</a></li>
        <li><a href="#" class="list-group-item list-group-item-action">Available to guest</a></li>
        <li><a href="#" class="list-group-item list-group-item-action">Type of housing</a></li>
    </ul>

</div>
</body>
</html>