<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="sidebar">
    <ul class="list-group list-unstyled">
        <li><a th:href="@{/change-profile}" class="list-group-item list-group-item-action">Change profile</a></li>
        <li><a th:href="@{/admin/available-to-guest}" class="list-group-item list-group-item-action">Photo</a></li>
        <li><a th:href="@{/admin/available-to-guest}" class="list-group-item list-group-item-action">Password</a></li>
        <li><a th:href="@{/admin/type-of-house}" class="list-group-item list-group-item-action">Reviews</a></li>
    </ul>
</div>
</body>
</html>