<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/userProfileLayout">
<head>
    <head>
        <title>User profile</title>
    </head>
<body>
<div layout:fragment="content">
    <form th:action="@{/change-profile}" th:object="${changeProfileForm}" method="post">
        <div class="row justify-content-center">
            <h1>Change profile</h1>
        </div>
        <div class="mt-2 row form-group justify-content-center">
            <label class="col-2 col-form-label"> Email :</label>
            <div class="col-6">
                <input th:value="${changeProfileForm.getEmail()}" class="form-control" placeholder="Email" type="text" name="email" required />
                <p class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
        </div>
        <div class="row justify-content-center form-group row">
            <label class="col-2 col-form-label"> Name:</label>
            <div class="col-6">
                <input th:value="${changeProfileForm.getName()}" class="form-control" placeholder="Name" type="text" name="name" required />
                <p class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
        </div>
        <div class="row justify-content-center form-group row">
            <label class="col-2 col-form-label"> SurName:</label>
            <div class="col-6">
                <input th:value="${changeProfileForm.getSurName()}" class="form-control" placeholder="surName" type="text" name="surName" required />
                <p class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}"></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>