<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/userProfileLayout">
<head>
    <head>
        <title>User profile</title>
    </head>
<body>
<div layout:fragment="content">
    <form th:action="@{/change-password}" th:object="${changePasswordForm}" method="post">
        <div class="row justify-content-center">
            <h1>Change password</h1>
        </div>
        <div class="mt-2 row form-group justify-content-center">
            <div class="col-6">
            <label class="col-form-label" for="oldPassword"> Old password</label>
                <input class="form-control" placeholder="Old password" id="oldPassword" type="password" name="oldPassword" required />
                <p class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></p>
            </div>
        </div>
        <div class="row justify-content-center form-group row">
            <div class="col-6">
            <label class="col-form-label" for="newPassword"> New Password</label>
                <input class="form-control" placeholder="New password" id="newPassword" type="password" name="newPassword" required />
                <p class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
            </div>
        </div>
        <div class="row justify-content-center form-group row">
            <div class="col-6">
            <label class=" col-form-label" for="confirmPassword"> Confirm password</label>
                <input class="form-control" placeholder="Confirm password" id="confirmPassword" type="password" name="confirmPassword" required />
                <p class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>