<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
<head>
    <title>User profile</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="text-center">
            <h2>Profile</h2>

            <img class="mt-2" style="width: 240px; height: 240px;" th:src="${avatar}">

            <h3 th:text="${user.userName}"></h3>
            <h3 th:text="${user.userSurName}"></h3>
            <h3 th:text="${user.userEmail}"></h3>
        </div>
    </div>
</body>
</html>