<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Hello World!</title>
    <style>
        .break-long-word{
            word-wrap:break-word;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
        <div th:if="${apartments != null && !apartments.isEmpty()}" class="row mt-5">
            <div th:each="apartment : ${apartments}" class="col-md-3">
                <div th:id="'carousel' + ${apartment.getId()}" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" th:if="${apartment.getImages().size() > 1}">
                        <th:block th:each="apartmentImage, index : ${apartment.getImages()}">
                            <li th:attr="data-target='#carousel' + ${apartment.getId()}, data-slide-to=${index.index}"
                                th:classappend="${index.index == 0 ? 'active' : ''}"></li>
                        </th:block>
                    </ol>
                    <div class="carousel-inner">
                        <th:block th:each="apartmentImage, index : ${apartment.getImages()}">
                            <div class="carousel-item" th:classappend="${index.index == 0 ? 'active' : ''}">
                                <a th:href="@{'/apartment/' + ${apartment.getId()}}"><img class="d-block w-100" style="min-height: 250px; max-height: 250px" th:src="${apartmentImage.getLinkPhoto()}" alt="First slide"></a>
                            </div>
                        </th:block>
                    </div>
                    <th:block th:if="${apartment.getImages().size() > 1}">
                        <a class="carousel-control-prev" th:href="'#carousel' + ${apartment.getId()}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" th:href="'#carousel' + ${apartment.getId()}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </th:block>
                </div>
                <p th:text="${apartment.getLocation()}"></p>
                <p class="break-long-word" th:text="${apartment.getTitle()}"></p>
                <p th:text="${apartment.getPrice() + ' day'}"></p>
            </div>

            <hr>
        </div>
    <div th:if="${countPage > 1}" class="row justify-content-center">
        <nav aria-label="...">
            <ul class="pagination">
                <li th:if="${current != 0}" class="page-item">
                    <a class="page-link" th:href="@{'/?page=' + ${current}}" tabindex="-1">Previous</a>
                </li>
                <th:block th:each="page : ${#numbers.sequence(0, countPage - 1)}">
                    <li th:if="${page != current && location == null}" class="page-item"><a class="page-link"
                                                                        th:href="@{'/?page=' + ${page + 1}}"
                                                                                               th:text="${page + 1}"></a></li>
                    <li th:if="${page != current && location != null}" class="page-item"><a class="page-link"
                                                                                            th:href="@{'/?page=' + ${page + 1} + '&location=' + ${location}}"
                                                                                            th:text="${page + 1}"></a></li>
                    <li th:if="${page  == current}" class="page-item active"><span class="page-link"
                                                                                   th:text="${page + 1}"><span
                            class="sr-only">(current)</span></span></li>
                </th:block>
                <li th:if="${current + 1 != countPage}" class="page-item">
                    <a class="page-link" th:href="@{'/?page=' + ${current + 2}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
<script>
    $(document).ready(function(){
        $('.carousel').carousel({
            interval: false
        })
    })
</script>
</div>
</body>
</html>