<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/adminLayout">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<div layout:fragment="content">
    <p><a th:href="@{/admin/type-of-house/create}">Create new</a></p>
    <table th:if="${typeOfHouses.size() != 0}" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="typeOfHouse : ${typeOfHouses}" th:if="${typeOfHouse.isActive()}">
            <td th:text="${typeOfHouse.name}"></td>
            <td><a th:href="@{/admin/type-of-house/update/} + ${typeOfHouse.id}">Edit</a></td>
            <td><a th:if="${typeOfHouse.getApartments().isEmpty()}" th:href="@{/admin/type-of-house/delete/} + ${typeOfHouse.id}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>