<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/adminLayout">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<div layout:fragment="content">
    <p><a th:href="@{/admin/available-to-guest/create}">Create new</a></p>
    <table th:if="${availableToGuests.size() != 0}" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="availableToGuest : ${availableToGuests}" th:if="${availableToGuest.isActive()}">
            <td th:text="${availableToGuest.name}"></td>
            <td><a th:href="@{/admin/available-to-guest/update/} + ${availableToGuest.id}">Edit</a></td>
            <td><a th:if="${availableToGuest.getApartments().isEmpty()}" th:href="@{/admin/available-to-guest/delete/} + ${availableToGuest.id}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>